body, html {
    min-width: 1000px;
    min-height: 845px;
    height: 100%;
    width: 100%;
}
.container {
    height: 100%;
    background: url(../images/navigation_background.jpg)no-repeat center center;
    background-size: cover;
    position: relative;
}

/* 导航栏 */
.nav {
    max-width: 1442px;
    width: 100%;
    min-width: 0;
    height: 60px;
    background: #b9bcc5;
    text-align: center;
    box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.3),-3px -3px 8px rgba(0, 0, 0, 0);
    position: relative;
    z-index: 999;
}
.nav-list {
    height: 100%;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
}
.nav-item {
    height: 100%;
    list-style: none;
    float: left;
    position: relative;
    margin-left: 1px;
}
.nav-item:after {
    content: "";
    height: 30%;
    width: 1px;
    background: #fff;
    position: absolute;
    right: -1px;
    top: 35%;
}
.nav-item:first-child {
    margin-left: 0px;
}
.nav-item:last-child:after {
    width: 0px;
}
.nav-item a {
    line-height: 60px;
    text-align: center;
    display: block;
    color: #fff;
    width: 9.5rem;
    text-decoration: none;
    	    transition: all 0.3s;
       -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.nav-item:active a:hover {
    background: #d7d8db;    
}
.nav-item a:hover {
    background: #9598a1;    
}
.nav-item.active a {
    color: #906366;
}

/* 悬浮窗 */
.content-box {}
.float {
    position: absolute;
    top: 150px;
    bottom: 95px;
    width: 960px;
    left: 0;
    right: 0;
    box-shadow: 10px 20px 18px rgba(0, 0, 0, 0.1);
    min-height: 600px;
}
.title {
    height: 170px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.title .triangle {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 0;
            transform-origin: 0 0;
       -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    	    transform: translateX(170px) rotate(45deg);
       -moz-transform: translateX(170px) rotate(45deg);
    -webkit-transform: translateX(170px) rotate(45deg);
    background: url(../images/float_background.png);
}
.title .title-content {
    background: url(../images/float_background.png);
    position: absolute;
    right: 0;
    left: 170px;
    height: 100%;
}

.big-title {
    font-size: 25px;
    font-weight: bold;
    padding: 30px 0 10px;
    position: relative;
    color: #404143;
}
.summary {
    font-size: 15px;
    padding: 10px 0;
    position: relative;
    color: #404143;
}
.registration-table {
    color: #9b5a5a;
    font-size: 13px;
    padding: 10px 0;
    position: relative;
}
.registration-table:before {
    content: "- ";
    /*padding-right: 15px;*/
}
.registration-table:after {
    content: " -";
    /*padding-right: 15px;*/
}

.content {
    position: absolute;
    top: 170px;
    bottom: 0;
    width: 100%;
    background: url(../images/float_background.png);
    box-shadow: -15px 20px 18px rgba(0, 0, 0, 0.1);
}
/* 滚动区域 */
.scroll-area {
    position: absolute;
    top: 10px;
    left: 165px;
    right: 165px;
    bottom: 70px;
    font-size: 14px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.scroll-area * {
    color: #404143;
}
.scroll-area li {
    padding: 5px;
}
.scroll-bar {
    position: absolute;
    top: 10px;
    width: 15px;
    right: 145px;
    bottom: 70px;
    background: #bfc2c9;
    border-radius: 10px;
}
.progress-bar {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background: #a0a1a5;
    	    transition: background 0.25s;
       -moz-transition: background 0.25s;
    -webkit-transition: background 0.25s;
}
.progress-bar:hover {
    background: #acaeb2;
}

/* 正文部分 */
.all-content {
    position: relative;
    top: 0;
}

/* 时间轴 */
.time-line {
    padding: 10px 0;
}
.time-line .stop {
    line-height: 30px;
    padding-left: 30px;
    position: relative;
}
.time-line .stop:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 10px;
    top: 11px;
    background: #a0a1a5;
    border-radius: 10px;
}
.time-line .stop:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #a0a1a5;
    position: absolute;
    left: 13px;
    top: 0;
}
.time-line .stop:first-child:before {
    height: 50%;
    top: auto;
    bottom: 0;
}
.time-line .stop:last-child:before {
    height: 50%;
    bottom: auto;
    top: 0;
}


/* 活动名字 */
.active-name {
    color: #af454b;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 20px;
            transform-origin: 100% 0;
       -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    	    transform: rotate(90deg) translateX(80%);
       -moz-transform: rotate(90deg) translateX(80%);
    -webkit-transform: rotate(90deg) translateX(80%);
}
.active-name p {
    padding: 5px 0;
    text-shadow: 10px 2px 3px rgba(0, 0, 0, 0.17);
    word-spacing: 18px;
}

/* logo */
.logo {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -500px;
    width: 200px;
    height: 200px;
    background: url(../images/xuanfuchuangLOGO.png) no-repeat center center;
    background-size: contain;
}

/* 板尾 */
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 80px;
    text-align: center;
    font-family: 'fzxdx';
    color: #3d3c3b;
    font-size: 14px;
    opacity: 0.6;
}



/* 滚动翻页区域 */
.scroll-turnPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 显示控制 */
.float{
    display: none;
}